.button{

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    /* padding: 5px 35px; */
    padding: 9px 10px;
    background-color: #4d1601;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    justify-content: space-between;
    border: none;
    align-items: center;
    font: bold;
}

.icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }

  
@media (min-width: 500px) and (min-height: 400px) {
    .button {
 padding: 5px 35px;
    }
}