.sideDrawer{
    position: fixed;
    width: 280px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: white;
    padding: 15px 20px;
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

.Logo{
    margin: 15px 0;
    height: 11%;
    cursor: pointer;
}

.sideDrawerHeader{

    width: 100%;
    background-color: chocolate;
    margin-bottom: 15px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;

}
.sideDrawerHeader p {
    margin: 0;
}